@charset "UTF-8";
/* Accessibility CSS Document */
/* Authors: Kurt Campbell, Ashley Clingerman, Dakota Hastings, Sebastian Neiswanger */
.wrapper {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 1em 0;
  text-align: center;
}
p {
  margin: 0;
  padding: 1em 0;
  text-align: center;
  color: #efedef;
}

/* Header Showcase */

#showcase {
  min-height: 250px;
  color: white;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: url('../img/accessibility/accessibility_banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  z-index: -1;
  opacity: 0.1;
}

#showcase .overlay {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 250px;
  position: absolute;
  z-index: -1;
}

#showcase h1 {
  padding-top: 100px;
  text-align: center;
}

#showcase .content-wrap,
#section-header .content-wrap,
#section-a .content-wrap,
#section-d .content-wrap {
  padding: 0 1.5em;
}

/* Section Header */
#section-a {
  background-color: white;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

#section-a ul {
  list-style: none;
  margin-left: 1%;
  margin-right: 1%;
  padding: 0;
}

#section-a li {
  margin-bottom: 1em;
  background-color: inherit;
  color: black;
  /*box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.2);*/
}

#section-a .card-content {
  margin-left: 5%;
  margin-right: 5%;
}

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmix(auto, 25em)) 1fr;
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.2);
  }

  #section-a .content-text {
    columns: 1;
    column-gap: 2em;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  #section-a .card-content {
    margin-left: 5%;
    margin-right: 5%;
  }
}
